.navbar-custom {
  background-color: #11513c;
  border-color: #0b3628;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1a7b5b), to(#11513c));
  background-image: -webkit-linear-gradient(top, #1a7b5b, 0%, #11513c, 100%);
  background-image: -moz-linear-gradient(top, #1a7b5b 0%, #11513c 100%);
  background-image: linear-gradient(to bottom, #1a7b5b 0%, #11513c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a7b5b', endColorstr='#ff11513c', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #0b3628;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #0b3628;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #adbbb6;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #adbbb6;
  background-color: #0b3628;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0b3628), to(#146047));
  background-image: -webkit-linear-gradient(top, #0b3628, 0%, #146047, 100%);
  background-image: -moz-linear-gradient(top, #0b3628 0%, #146047 100%);
  background-image: linear-gradient(to bottom, #0b3628 0%, #146047 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0b3628', endColorstr='#ff146047', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #0b3326;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #adbbb6;
  border-bottom-color: #adbbb6;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #0b3628;
  color: #adbbb6;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #adbbb6;
  border-bottom-color: #adbbb6;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #adbbb6;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #adbbb6;
    background-color: #0b3628;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #adbbb6;
}
.navbar-brand {
  height: 85px;
}

.nav >li >a {
  padding-top: 35px;
  padding-bottom: 35px;
}
.navbar-toggle {
  padding: 20px;
  margin: 25px 15px 25px 0;
}

h3 {
   color: #1f8e6a;
}

h4 {
   color: #1f8e6a;
}

a {
   color: green;
}

a:hover {
   color: black;
}

.nav-tabs>li>a:hover {
  background-color: #cedfd9;
}

.form-control:focus {
  border-color: green;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 0, 0.6);
}

 .tooltip-inner {
            max-width: 600px;
            background-color: #11513C;
        }

.duas_colunas {
    -webkit-columns: 150px 2; /* Chrome, Safari, Opera */
    -moz-columns: 150px 2; /* Firefox */
    columns: 150px 2;
}

.tabela_cabecalho {
  color: #ffffff;
  background-color: #11513C;
}

.tabela_subtitulo {
  background-color: #D2E2DD;
}

.tabela_total {
  color: #ffffff;
  background-color: #539A83;
}

.tabela_valor_positivo {
  color: #ffffff;
  background-color: #11513C;
}

.tabela_valor_negativo {
  color: #ffffff;
  background-color: #d9534f;
}

footer {
      background-color: #1B805E;
      color: white;
      padding-top: 20px;

      position:absolute;
          bottom:0;
              width:100%;  
    }

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* altura do seu footer */
}

.jumbotron {
      background-color: #dff0d8;
    border-color: #d6e9c6;
}

.show_acao_p {
  padding: 6px 12px;
}
.status-green {
  color: #5cb85c;
}
.status-red {
   color: #d9534f;
}